<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leeyou.democustomview2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ColorMatrixFilterActivity"
            android:label="Color Matrix Filter" />


        <activity
            android:name=".LightingColorFilterActivity"
            android:label="Lighting Color Filter" />

        <activity
            android:name=".PorterDuffColorFilterActivity"
            android:label="PORTER DUFF COLOR FILTER" />

        <activity
            android:name=".PorterDuffXfermodeActivity"
            android:label="PORTER DUFF XFermode" />

        <activity
            android:name=".DST_IN_Activity"
            android:label="DST IN EXERCISE" />

        <activity
            android:name=".DST_OUT_Activity"
            android:label="DST OUT EXERCISE" />

        <activity
            android:name=".EraserActivity"
            android:label="ERASER VIEW EXERCISE" />

    </application>

</manifest>
